# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.io/en/latest/deploy.html

[settings]
default = crawlspider.settings

[deploy:tengxun]
url = http://1.15.233.110:6800/
project = lianjia
